* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

header {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-weight: 2rem;
  align-items: center;
}

h1 {
  padding-bottom: 0.5rem;
}

figure {
  margin: 1rem 0;
}

#volver {
  text-decoration: none;
  color: white;
  background-color: rgb(98, 178, 253);
  padding: 0.25rem 2rem;
}

main {
  margin: 0 1rem;
}

img {
  width: 100%;
}

footer {
  order: -1;
  background-color: black;
  display: flex;
  justify-content: flex-end;
}

footer a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
}

@media (min-width: 600px) {
  body {
    flex-direction: row;
  }
}
