*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif; 
   display: flex;
   flex-direction: column;
}
h1{
    font-size: 2rem;
    
}
a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-style: normal;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    border: 8px solid black;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
main{
   display: flex;
   flex-direction: column;
}
section{
    margin: 1rem 0;
}
footer{
    order: -1;
    background-color: rgb(37, 35, 35);
    color: white;
    display: flex;
    justify-content: flex-end;
}
footer a{
    color: white;
    padding: 10px;

}
p{
    margin: 1rem;
}
main section:nth-child(2){
    padding: 1rem;
}
ul{
    margin: 1rem;
    
}
ul li{
    margin: 1rem;
}
#info{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 0.5rem 2rem;
    background-color: rgb(36, 98, 170);
    color: white;
    margin: 1rem;
   
}
main section p:nth-child(2){
    margin-bottom: 40px;
}

@media (min-width:800px){
    main{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;


    }
    main section{
        width: 50%;
        
        height: 300px;
    }
    main section:nth-child(2){
        padding: 0;
        margin: 0;
       
    }
}
@media (min-width:1000px){
    body{
        display: flex;
        flex-direction: row;
    }
    main{
        margin-top: 50px;
       
    }
    footer{
        position: absolute;
        top: 0;
        width: 100%;
    }
}



